$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

.google-btn {
    align-items: center;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: flex;
    margin-top: 5px;
    height: 40px;
    transition: box-shadow 0.3s ease;
    width: 100%;
    
    .google-icon-wrapper {
        align-items: center;
        border-radius: 2px 0 0 2px;
        background-color: $white;
        display: flex;
        justify-content: center;
        height: 40px;
        width: 40px;
        .google-icon {
        width: 18px;
        height: 18px;
        }
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
        }
    &:active {
        background: $button-active-blue;
        }
    
}